---
layout: default
title: Hectare playground
---

<div class='ap-home' data-barba="container" data-barba-namespace="home">
{% include header.html %}
<main>
    <div class='--logo'></div>
    <p class='text-center mt-32 text-lg'>86 rue faider 1050 Bruxelles | merc 11-18h sam | atelier@hectare-galerie.be</p>
    <div class='ap-gallery' id="gallery">
        <p class='text-center text-lg'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu diam purus. Donec id odio nibh. Morbi hendrerit libero at mollis sagittis. In tempor in mauris in interdum. Donec rutrum quis lectus eget volutpat. Nunc scelerisque arcu id elit efficitur, nec vulputate dui vulputate. Curabitur pellentesque mi vel tellus ultricies eleifend.</p> 
        <div class='--images'>   
            {% for item in site.data.gallery-images %}
            <figure>
                <img src="{{ item.url }}" alt="{{ item.alt }}"/>
            </figure>
            {% endfor %}
        </div>
        <div>
            <p>Mauris eget ligula aliquam, tempor lectus vel, mollis nunc. Etiam eu dui vitae ante porttitor dapibus. Maecenas fringilla porttitor iaculis. Proin vel molestie purus. Aenean dictum consectetur nisi, nec imperdiet ex dapibus et. Proin fringilla gravida gravida. Nullam urna lacus, hendrerit et magna a, gravida blandit ex. Etiam a porttitor diam. Pellentesque porta mi feugiat sollicitudin hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam vehicula, tortor eget varius molestie, ex urna luctus sapien, sed hendrerit magna nunc id magna. Nulla condimentum, mi ac condimentum finibus, felis sem pretium nisi, ut ultrices lacus arcu eu lacus. Aenean convallis augue id eros euismod placerat. Nullam maximus vehicula sollicitudin. Pellentesque at sem urna. Proin in erat tempor, gravida tortor a, sodales ante.</p>

            <p>Proin gravida pretium maximus. Fusce aliquet, magna in aliquam dignissim, orci tortor interdum ligula, at hendrerit arcu sapien eu dui. Etiam tempor congue nibh, sed vehicula ipsum tempor ut. Pellentesque dolor mauris, pharetra sed lorem in, ornare ullamcorper turpis. Vestibulum ullamcorper urna ac ornare consequat. Duis dapibus sodales mattis. Praesent venenatis viverra tristique. Fusce viverra nec lacus blandit tempor. Nunc velit tellus, bibendum at nulla eu, tristique pretium augue. Vivamus in felis aliquam, eleifend ligula vitae, euismod dolor. Sed non eros ornare lectus congue efficitur a sed ipsum.</p>
        </div>
    </div>
    {% include nav.html %}
</main>
</div>