<a href="/" class="ap-logo">
    <span class="--item">h</span>
    <div class="--dash --item"></div>
    <span class="--item">e</span>
    <div class="--dash --item"></div>
    <span class="--item">c</span>
    <div class="--dash --item"></div>
    <span class="--item">t</span>
    <div class="--dash --item"></div>
    <span class="--item">a</span>
    <div class="--dash --item"></div>
    <span class="--item">r</span>
    <div class="--dash --item"></div>
    <span class="--item">e</span>
 </a>